* {
    margin: 0;
}
  .content {
      /* height: auto;
      width: auto; */
      /* display: inline-block; */
      /* background-color: black; */
  }
  .dust {
    position: absolute;
  }

  /* 
  const div = document.querySelector(".content")
    let height = div.clientHeight;
    let width = div.clientWidth
    div.innerHTML = ''
    div.style.height = `${height}px`;
    div.style.width = `${width}px`;
    //create canvas for each imageData and append to target element
    for (let i = 0; i < canvasCount; i++) {
      let c = newCanvasFromImageData(imageDataArray[i], canvas.width, canvas.height);
      c.classList.add("dust");
      div.appendChild(c);
    //   c.classList.add('content');
    //   $("body").append(c);
    }
  */

  .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ddd;
}